<main class="main-content">
    <!--== Start Page Title Area ==-->
    <section class="page-title-area bg-img" data-bg-img="assets/img/photos/bg-page1.webp">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12 m-auto">
                    <div class="page-title-content text-center">
                        <h2 class="title">About us</h2>
                        <div class="bread-crumbs"><a href="index.html">Home</a><span class="breadcrumb-sep"><i
                                    class="ion-ios-arrow-forward"></i></span><span>About us</span></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--== Start Page Title Area ==-->

    <!--== Start Divider Area Wrapper ==-->
    <section class="divider-area divider-style3-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-5 col-sm-6">
                    <div class="thumb effect-animate-flash">
                        <img src="assets/img/divider/4.jpg" alt="Image" width="445" height="420">
                    </div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-6">
                    <div class="divider-content-style3">
                        <h2 class="title">100% Organic.</h2>
                        <h2 class="title mb-0">Natural <span>Fresh Juice</span></h2>
                        <p>Made of 100% Valencia oranges to hold a perfect balance of sweet and tart flavor. This juice
                            is made most enjoyable by the absence of the pulb!</p>
                        <a class="btn-theme" href="shop.html">Discover Now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--== End Divider Area Wrapper ==-->

    <!--== Start Featured Area Wrapper ==-->
    <section class="featured-area featured-style3-area">
        <div class="container">
            <div class="featured-items">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="featured-item">
                            <div class="icon">
                                <img src="assets/img/icons/f1.png" alt="Image" width="40" height="28">
                            </div>
                            <div class="featured-info">
                                <h4 class="title">Free Shipping</h4>
                                <p>On all orders over $75.00</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="featured-item">
                            <div class="icon">
                                <img src="assets/img/icons/f2.png" alt="Image" width="40" height="30">
                            </div>
                            <div class="featured-info">
                                <h4 class="title">Free Free Returns</h4>
                                <p>Returns are free within 9 days</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="featured-item">
                            <div class="icon">
                                <img src="assets/img/icons/f3.png" alt="Image" width="40" height="33">
                            </div>
                            <div class="featured-info">
                                <h4 class="title">100% Payment Secure</h4>
                                <p>Your payment are safe with us.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="featured-item">
                            <div class="icon">
                                <img src="assets/img/icons/f4.png" alt="Image" width="40" height="35">
                            </div>
                            <div class="featured-info">
                                <h4 class="title">Support 24/7</h4>
                                <p>Contact us 24 hours a day</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--== End Featured Area Wrapper ==-->

    <!--== Start Team Area ==-->
    <section class="team-area team-default-area">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-6 m-auto">
                    <div class="section-title text-center">
                        <h2 class="title">Team Member</h2>
                        <div class="desc">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="swiper-container-wrap swiper-nav-style team-slider-nav">
                        <div class="swiper-container team-slider-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="team-member mb-sm-50">
                                        <div class="thumb">
                                            <img src="assets/img/team/1.jpg" alt="Image" width="370" height="400">
                                            <div class="member-icons">
                                                <a href="index.html"><i class="ion-social-facebook"></i></a>
                                                <a href="index.html"><i class="ion-social-dribbble"></i></a>
                                                <a href="index.html"><i class="ion-social-pinterest"></i></a>
                                                <a href="index.html"><i class="ion-social-twitter"></i></a>
                                            </div>
                                        </div>
                                        <div class="content">
                                            <div class="member-info">
                                                <h4 class="name">Rosa Lawson</h4>
                                                <h6 class="designation">Team Member</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="team-member mb-sm-50">
                                        <div class="thumb">
                                            <img src="assets/img/team/2.jpg" alt="Image" width="370" height="400">
                                            <div class="member-icons">
                                                <a href="index.html"><i class="ion-social-facebook"></i></a>
                                                <a href="index.html"><i class="ion-social-dribbble"></i></a>
                                                <a href="index.html"><i class="ion-social-pinterest"></i></a>
                                                <a href="index.html"><i class="ion-social-twitter"></i></a>
                                            </div>
                                        </div>
                                        <div class="content">
                                            <div class="member-info">
                                                <h4 class="name">Mario Palmer</h4>
                                                <h6 class="designation">Team Member</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="team-member mb-xs-50">
                                        <div class="thumb">
                                            <img src="assets/img/team/3.jpg" alt="Image" width="370" height="400">
                                            <div class="member-icons">
                                                <a href="index.html"><i class="ion-social-facebook"></i></a>
                                                <a href="index.html"><i class="ion-social-dribbble"></i></a>
                                                <a href="index.html"><i class="ion-social-pinterest"></i></a>
                                                <a href="index.html"><i class="ion-social-twitter"></i></a>
                                            </div>
                                        </div>
                                        <div class="content">
                                            <div class="member-info">
                                                <h4 class="name">Maria Randall</h4>
                                                <h6 class="designation">Team Member</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="team-member">
                                        <div class="thumb">
                                            <img src="assets/img/team/4.jpg" alt="Image" width="370" height="400">
                                            <div class="member-icons">
                                                <a href="index.html"><i class="ion-social-facebook"></i></a>
                                                <a href="index.html"><i class="ion-social-dribbble"></i></a>
                                                <a href="index.html"><i class="ion-social-pinterest"></i></a>
                                                <a href="index.html"><i class="ion-social-twitter"></i></a>
                                            </div>
                                        </div>
                                        <div class="content">
                                            <div class="member-info">
                                                <h4 class="name">Yousif Cross</h4>
                                                <h6 class="designation">Team Member</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="team-member mb-xs-50">
                                        <div class="thumb">
                                            <img src="assets/img/team/3.jpg" alt="Image" width="370" height="400">
                                            <div class="member-icons">
                                                <a href="index.html"><i class="ion-social-facebook"></i></a>
                                                <a href="index.html"><i class="ion-social-dribbble"></i></a>
                                                <a href="index.html"><i class="ion-social-pinterest"></i></a>
                                                <a href="index.html"><i class="ion-social-twitter"></i></a>
                                            </div>
                                        </div>
                                        <div class="content">
                                            <div class="member-info">
                                                <h4 class="name">Maria Randall</h4>
                                                <h6 class="designation">Team Member</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Add Arrows -->
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--== End Team Area ==-->

    <!--== Start Newsletter Area ==-->
    <section class="testimonial-area testimonial-default-area bg-img" data-bg-img="assets/img/testimonial/1.webp">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-6 m-auto">
                    <div class="section-title text-center">
                        <h2 class="title">Client Feedback</h2>
                        <div class="desc">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="swiper-container testimonial-slider-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="testimonial-item">
                                    <p>Lorem ipsum dolor sit ameto consectetur adipisicingl elito sed do eiusmo temp</p>
                                    <img class="quote-icon" src="assets/img/icons/quote-icon.png" alt="Icon" width="252"
                                        height="191">
                                    <div class="rating">
                                        <span class="rating-color ion-android-star"></span>
                                        <span class="rating-color ion-android-star"></span>
                                        <span class="rating-color ion-android-star"></span>
                                        <span class="ion-android-star"></span>
                                        <span class="ion-android-star"></span>
                                    </div>
                                    <h2 class="title">Annette Hunter</h2>
                                    <h4>Customer</h4>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testimonial-item">
                                    <p>There are dolor sit ameto consectetur adipisicingl elito sed do eiusmo temp</p>
                                    <img class="quote-icon" src="assets/img/icons/quote-icon.png" alt="Icon" width="252"
                                        height="191">
                                    <div class="rating">
                                        <span class="rating-color ion-android-star"></span>
                                        <span class="rating-color ion-android-star"></span>
                                        <span class="rating-color ion-android-star"></span>
                                        <span class="ion-android-star"></span>
                                        <span class="ion-android-star"></span>
                                    </div>
                                    <h2 class="title">Heather Walker</h2>
                                    <h4>Customer</h4>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testimonial-item">
                                    <p>Many Store dolor sit ameto consectetur adipisicingl elito sed do eiusmo temp</p>
                                    <img class="quote-icon" src="assets/img/icons/quote-icon.png" alt="Icon" width="252"
                                        height="191">
                                    <div class="rating">
                                        <span class="rating-color ion-android-star"></span>
                                        <span class="rating-color ion-android-star"></span>
                                        <span class="rating-color ion-android-star"></span>
                                        <span class="ion-android-star"></span>
                                        <span class="ion-android-star"></span>
                                    </div>
                                    <h2 class="title">Phoenix Baker</h2>
                                    <h4>Customer</h4>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testimonial-item">
                                    <p>Lorem ipsum dolor sit ameto consectetur adipisicingl elito sed do eiusmo temp</p>
                                    <img class="quote-icon" src="assets/img/icons/quote-icon.png" alt="Icon" width="252"
                                        height="191">
                                    <div class="rating">
                                        <span class="rating-color ion-android-star"></span>
                                        <span class="rating-color ion-android-star"></span>
                                        <span class="rating-color ion-android-star"></span>
                                        <span class="ion-android-star"></span>
                                        <span class="ion-android-star"></span>
                                    </div>
                                    <h2 class="title">Heather Walker</h2>
                                    <h4>Customer</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--== End Newsletter Area ==-->

    <!--== Start Category Area Wrapper ==-->
    <div class="category-area product-category7-area">
        <div class="container">
            <div class="row category-items1">
                <div class="col-md-6">
                    <div class="category-item mb-sm-30">
                        <div class="thumb effect-animate-flash">
                            <a href="shop.html"><img src="assets/img/category/15.jpg" alt="Image" width="540"
                                    height="200"></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="category-item">
                        <div class="thumb effect-animate-flash">
                            <a href="shop.html"><img src="assets/img/category/16.jpg" alt="Image" width="540"
                                    height="200"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End Category Area Wrapper ==-->
</main>