<!--== Start Footer Area Wrapper ==-->
<footer class="footer-area">
    <div class="container">
        <div class="row row-gutter-0">
            <div class="col-12">
                <div class="footer-top">
                    <div class="row row-gutter-0">
                        <div class="col-md-9">
                            <h4 class="widget-title widget-collapsed-title collapsed" data-bs-toggle="collapse"
                                data-bs-target="#dividerId-5">Subscribe Now</h4>
                            <div id="dividerId-5" class="collapse widget-collapse-body">
                                <div class="collapse-body-content">
                                    <div class="newsletter-content-wrap">
                                        <div class="newsletter-content">
                                            <h2>Sign Up For Newsletters</h2>
                                            <p>Be the First to Know. Sign up for newsletter today !</p>
                                        </div>
                                        <form class="newsletter-form" action="#">
                                            <input class="form-control" type="text" id="email"
                                                placeholder="Your email address">
                                            <button class="btn btn-theme" type="submit">Sign Up</button>
                                        </form>
                                        <ul class="widget-social-icons d-block d-md-none">
                                            <li><i class="ion-social-twitter"></i></li>
                                            <li><i class="ion-social-instagram-outline"></i></li>
                                            <li><i class="ion-social-rss"></i></li>
                                            <li><i class="ion-social-googleplus-outline"></i></li>
                                            <li><i class="ion-social-facebook"></i></li>
                                            <li><i class="ion-social-youtube-outline"></i></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 d-none d-md-block">
                            <ul class="widget-social-icons">
                                <li><i class="ion-social-twitter"></i></li>
                                <li><i class="ion-social-instagram-outline"></i></li>
                                <li><i class="ion-social-rss"></i></li>
                                <li><i class="ion-social-googleplus-outline"></i></li>
                                <li><i class="ion-social-facebook"></i></li>
                                <li><i class="ion-social-youtube-outline"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4">
                    <div class="widget-item">
                        <h4 class="widget-title widget-collapsed-title collapsed" data-bs-toggle="collapse"
                            data-bs-target="#dividerId-1">Contact Us</h4>
                        <div id="dividerId-1" class="collapse widget-collapse-body">
                            <div class="collapse-body-content">
                                <div class="widget-contact-info">
                                    <a class="footer-logo" href="index.html">
                                        <img src="assets/img/logo3.webp" alt="Logo" width="168" height="57">
                                    </a>
                                    <div class="desc">
                                        <p><span>Address </span> 4710-4890 Breckinridge St,Fayetteville</p>
                                        <p class="mb-0"><span>Need Help? </span>Call: <a href="tel://+0123456789">(+800)
                                                345 6789</a> - <a href="tel://+0123456789">(+877) 345 6789</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-2">
                    <div class="widget-item ml-80 ml-md-0">
                        <h4 class="widget-title">Company</h4>
                        <h4 class="widget-title widget-collapsed-title collapsed" data-bs-toggle="collapse"
                            data-bs-target="#dividerId-2">Company</h4>
                        <div id="dividerId-2" class="collapse widget-collapse-body">
                            <div class="collapse-body-content">
                                <nav class="widget-menu-wrap">
                                    <ul class="nav-menu nav">
                                        <li><a href="about.html">About us</a></li>
                                        <li><a href="contact.html">Contact us</a></li>
                                        <li><a href="index.html">Sitemap</a></li>
                                        <li><a href="index.html">Stores</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="widget-item ml-20 ml-md-0">
                        <h4 class="widget-title">Shop</h4>
                        <h4 class="widget-title widget-collapsed-title collapsed" data-bs-toggle="collapse"
                            data-bs-target="#dividerId-4">Shop</h4>
                        <div id="dividerId-4" class="collapse widget-collapse-body">
                            <div class="collapse-body-content">
                                <nav class="widget-menu-wrap">
                                    <ul class="nav-menu nav">
                                        <li><a href="/shop/products">Products</a></li>
                                        <li><a href="#/">Categories</a></li>
                                        <li><a href="/wishlist">Wishlist</a></li>
                                        <li><a href="/cart">Cart</a></li>
                                        <li><a href="/checkout">Checkout</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="footer-bottom-content">
                <div class="row">
                    <div class="col-sm-7 order-1 order-sm-0">
                        <div class="widget-copyright">
                            <p>© 2021 <span>Jena</span>. Made with <i class="ion-android-favorite icon-heart-color"></i>
                                by <a target="_blank" href="https://themeforest.net/user/hastech/portfolio">Hastech</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-5 text-center text-sm-end order-0 order-sm-1">
                        <div class="widget-payment-info mb-xs-10">
                            <div class="thumb">
                                <a href="shop.html"><img src="assets/img/photos/payment1.webp" alt="Image" width="286"
                                        height="23"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--== End Footer Area Wrapper ==-->

<!--== Scroll Top Button ==-->
<div class="scroll-to-top"><span class="ion-chevron-up"></span></div>