<main class="main-content">
    <!--== Start Hero Area Wrapper ==-->
    <section class="home-slider-area slider-style4">
        <div class="home-slider-content">
            <div class="swiper-container home-slider4-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <!-- Start Slide Item -->
                        <div class="home-slider-item">
                            <div class="thumb-one bg-img" data-bg-img="assets/img/slider/s4-1.webp"></div>
                            <div class="slider-content-area">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="content">
                                                <div class="inner-content">
                                                    <div class="wrap-one">
                                                        <h5>100% Organic</h5>
                                                    </div>
                                                    <div class="wrap-two">
                                                        <h2>Live Organic</h2>
                                                    </div>
                                                    <div class="wrap-three">
                                                        <h2>For Live Healthy</h2>
                                                    </div>
                                                    <div class="wrap-four">
                                                        <p>A Great Variety Of Care fully Stored Citruses</p>
                                                    </div>
                                                    <div class="wrap-five">
                                                        <a href="shop.html" class="btn-theme">Shop Now</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Slide Item -->
                    </div>
                    <div class="swiper-slide">
                        <!-- Start Slide Item -->
                        <div class="home-slider-item">
                            <div class="thumb-one bg-img" data-bg-img="assets/img/slider/s4-2.webp"></div>
                            <div class="slider-content-area">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="content">
                                                <div class="inner-content">
                                                    <div class="wrap-one">
                                                        <h5>Natural Organic</h5>
                                                    </div>
                                                    <div class="wrap-two">
                                                        <h2>Fresh Pineapple</h2>
                                                    </div>
                                                    <div class="wrap-three">
                                                        <h2>For Live Healthy</h2>
                                                    </div>
                                                    <div class="wrap-four">
                                                        <p>A Great Variety Of Care fully Stored Citruses</p>
                                                    </div>
                                                    <div class="wrap-five">
                                                        <a href="shop.html" class="btn-theme">Shop Now</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Slide Item -->
                    </div>
                    <div class="swiper-slide">
                        <!-- Start Slide Item -->
                        <div class="home-slider-item">
                            <div class="thumb-one bg-img" data-bg-img="assets/img/slider/s4-3.webp"></div>
                            <div class="slider-content-area">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="content">
                                                <div class="inner-content">
                                                    <div class="wrap-one">
                                                        <h5>Nature Organic</h5>
                                                    </div>
                                                    <div class="wrap-two">
                                                        <h2>Summer Sale</h2>
                                                    </div>
                                                    <div class="wrap-three">
                                                        <h2>Up To 70% Off</h2>
                                                    </div>
                                                    <div class="wrap-four">
                                                        <p>Lemons 100% Natural</p>
                                                    </div>
                                                    <div class="wrap-five">
                                                        <a href="shop.html" class="btn-theme">Shop Now</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Slide Item -->
                    </div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </section>
    <!--== End Hero Area Wrapper ==-->

    <!--== Start Featured Area Wrapper ==-->
    <section class="featured-area featured-style2-area">
        <div class="container">
            <div class="featured-items">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="featured-item">
                            <div class="icon">
                                <img src="assets/img/icons/f5.webp" alt="Image" width="40" height="28">
                            </div>
                            <div class="featured-info">
                                <h4 class="title">Free Shipping</h4>
                                <p>On all orders over $75.00</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="featured-item">
                            <div class="icon">
                                <img src="assets/img/icons/f6.webp" alt="Image" width="40" height="30">
                            </div>
                            <div class="featured-info">
                                <h4 class="title">Free Free Returns</h4>
                                <p>Returns are free within 9 days</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="featured-item">
                            <div class="icon">
                                <img src="assets/img/icons/f7.webp" alt="Image" width="40" height="33">
                            </div>
                            <div class="featured-info">
                                <h4 class="title">100% Payment Secure</h4>
                                <p>Your payment are safe with us.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="featured-item">
                            <div class="icon">
                                <img src="assets/img/icons/f8.webp" alt="Image" width="40" height="35">
                            </div>
                            <div class="featured-info">
                                <h4 class="title">Support 24/7</h4>
                                <p>Contact us 24 hours a day</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--== End Featured Area Wrapper ==-->

    <!--== Start Category Area Wrapper ==-->
    <!-- <section class="category-area product-category5-area">
        <div class="container">
            <div class="row">
                <div class="col-md-6 m-auto">
                    <div class="section-title text-center">
                        <h4 class="subtitle">Awesome Shop</h4>
                        <h2 class="title">Jena Collection</h2>
                    </div>
                </div>
            </div>
            <div class="row category-items3 row-gutter-20">
                <div class="col-md-6">
                    <div class="category-item">
                        <div class="thumb effect-animate-flash">
                            <a href="shop.html"><img src="assets/img/category/10.webp" alt="Image" width="550"
                                    height="470"></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row row-gutter-20">
                        <div class="col-sm-6">
                            <div class="category-item">
                                <div class="thumb effect-animate-flash">
                                    <a href="shop.html"><img src="assets/img/category/11.webp" alt="Image" width="260"
                                            height="230"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="category-item">
                                <div class="thumb effect-animate-flash">
                                    <a href="shop.html"><img src="assets/img/category/12.webp" alt="Image" width="260"
                                            height="230"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="category-item">
                                <div class="thumb effect-animate-flash">
                                    <a href="shop.html"><img src="assets/img/category/13.webp" alt="Image" width="260"
                                            height="230"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="category-item">
                                <div class="thumb effect-animate-flash">
                                    <a href="shop.html"><img src="assets/img/category/14.webp" alt="Image" width="260"
                                            height="230"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!--== End Category Area Wrapper ==-->

    <!--== Start Product Tab Area Wrapper ==-->
    <section class="product-area product-style9-area">
        <div class="container">
            <div class="row">
                <div class="col-md-6 m-auto">
                    <div class="section-title text-center">
                        <h4 class="subtitle">Awesome Shop</h4>
                        <h2 class="title">Our Products</h2>
                    </div>
                </div>
            </div>
            <div class="row" data-aos="fade-up" data-aos-duration="1300">
                <div class="col-md-12">
                    <div class="product-tab-content">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="our-features-tab" data-bs-toggle="tab"
                                    data-bs-target="#our-features" type="button" role="tab" aria-controls="our-features"
                                    aria-selected="true"><img src="assets/img/shop/01.webp" alt="Image" width="65"
                                        height="65">All Products</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="best-sellers-tab" data-bs-toggle="tab"
                                    data-bs-target="#best-sellers" type="button" role="tab" aria-controls="best-sellers"
                                    aria-selected="false"><img src="assets/img/shop/02.webp" alt="Image" width="65"
                                        height="65">Nutrition</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="new-items-tab" data-bs-toggle="tab"
                                    data-bs-target="#new-items" type="button" role="tab" aria-controls="new-items"
                                    aria-selected="false"><img src="assets/img/shop/03.webp" alt="Image" width="65"
                                        height="65">Fruits</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link mr-0" id="new-items1-tab" data-bs-toggle="tab"
                                    data-bs-target="#new-items1" type="button" role="tab" aria-controls="new-items1"
                                    aria-selected="false"><img src="assets/img/shop/04.webp" alt="Image" width="65"
                                        height="65">Fruit Juice</button>
                            </li>
                        </ul>

                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="our-features" role="tabpanel"
                                aria-labelledby="our-features-tab">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="product">
                                            <div class="row">
                                                <div class="col-lg-3 col-md-4 col-sm-6"
                                                    *ngFor="let product of allProducts">
                                                    <!-- Start Product Item -->
                                                    <div class="product-item">
                                                        <div class="product-thumb">
                                                            <a href="/shop/product/{{product.category}}/{{product.id}}">
                                                                <img src="{{product.photo}}" alt="Image" width="300"
                                                                    height="300">
                                                                <!-- <span class="bg-thumb" data-bg-img="assets/img/shop/5.webp"></span> -->
                                                            </a>
                                                            <div class="ribbons">
                                                                <span
                                                                    class="ribbon ribbon-discount">{{product.category}}</span>
                                                            </div>
                                                        </div>
                                                        <div class="product-info">
                                                            <h4 class="title"><a
                                                                    href="/shop/product/{{product.category}}/{{product.id}}">{{product.name}}</a>
                                                            </h4>
                                                            <div class="prices">
                                                                <span class="price">${{product.prices[0].amount}} /
                                                                    {{product.prices[0].unit}}</span>
                                                                <!-- <span class="price-old">$43.70</span> -->
                                                            </div>
                                                            <div class="content-inner">
                                                                <button class="btn-link" type="button"
                                                                    data-bs-toggle="modal"
                                                                    data-bs-target="#action-CartAddModal"><i
                                                                        class="icon-bag icons"></i> Add to cart
                                                                </button>
                                                                <div class="product-info-action">
                                                                    <button class="action-quick-view" type="button"
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target="#action-QuickViewModal"> <i
                                                                            class="icon-eye icons"></i></button>
                                                                    <button class="action-wishlist" type="button"
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target="#action-WishlistModal"><i
                                                                            class="icon-heart icons"></i></button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- End Product Item -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="best-sellers" role="tabpanel"
                                aria-labelledby="best-sellers-tab">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="product">
                                            <div class="row">
                                                <div class="col-lg-3 col-md-4 col-sm-6"
                                                    *ngFor="let product of nutritionProducts">
                                                    <!-- Start Product Item -->
                                                    <div class="product-item">
                                                        <div class="product-thumb">
                                                            <a href="/shop/product/{{product.category}}/{{product.id}}">
                                                                <img src="{{product.photo}}" alt="Image" width="300"
                                                                    height="300">
                                                                <!-- <span class="bg-thumb" data-bg-img="assets/img/shop/5.webp"></span> -->
                                                            </a>
                                                            <div class="ribbons">
                                                                <span
                                                                    class="ribbon ribbon-discount">{{product.category}}</span>
                                                            </div>
                                                        </div>
                                                        <div class="product-info">
                                                            <h4 class="title"><a
                                                                    href="/shop/product/{{product.category}}/{{product.id}}">{{product.name}}</a>
                                                            </h4>
                                                            <div class="prices">
                                                                <span class="price">${{product.prices[0].amount}} /
                                                                    {{product.prices[0].unit}}</span>
                                                                <!-- <span class="price-old">$43.70</span> -->
                                                            </div>
                                                            <div class="content-inner">
                                                                <button class="btn-link" type="button"
                                                                    data-bs-toggle="modal"
                                                                    data-bs-target="#action-CartAddModal"><i
                                                                        class="icon-bag icons"></i> Add to cart
                                                                </button>
                                                                <div class="product-info-action">
                                                                    <button class="action-quick-view" type="button"
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target="#action-QuickViewModal"> <i
                                                                            class="icon-eye icons"></i></button>
                                                                    <button class="action-wishlist" type="button"
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target="#action-WishlistModal"><i
                                                                            class="icon-heart icons"></i></button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- End Product Item -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="new-items" role="tabpanel" aria-labelledby="new-items-tab">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="product">
                                            <div class="row">
                                                <div class="col-lg-3 col-md-4 col-sm-6"
                                                    *ngFor="let product of fruitProducts">
                                                    <!-- Start Product Item -->
                                                    <div class="product-item">
                                                        <div class="product-thumb">
                                                            <a href="/shop/product/{{product.category}}/{{product.id}}">
                                                                <img src="{{product.photo}}" alt="Image" width="300"
                                                                    height="300">
                                                                <!-- <span class="bg-thumb" data-bg-img="assets/img/shop/5.webp"></span> -->
                                                            </a>
                                                            <div class="ribbons">
                                                                <span
                                                                    class="ribbon ribbon-discount">{{product.category}}</span>
                                                            </div>
                                                        </div>
                                                        <div class="product-info">
                                                            <h4 class="title"><a
                                                                    href="/shop/product/{{product.category}}/{{product.id}}">{{product.name}}</a>
                                                            </h4>
                                                            <div class="prices">
                                                                <span class="price">${{product.prices[0].amount}} /
                                                                    {{product.prices[0].unit}}</span>
                                                                <!-- <span class="price-old">$43.70</span> -->
                                                            </div>
                                                            <div class="content-inner">
                                                                <button class="btn-link" type="button"
                                                                    data-bs-toggle="modal"
                                                                    data-bs-target="#action-CartAddModal"><i
                                                                        class="icon-bag icons"></i> Add to cart
                                                                </button>
                                                                <div class="product-info-action">
                                                                    <button class="action-quick-view" type="button"
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target="#action-QuickViewModal"> <i
                                                                            class="icon-eye icons"></i></button>
                                                                    <button class="action-wishlist" type="button"
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target="#action-WishlistModal"><i
                                                                            class="icon-heart icons"></i></button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- End Product Item -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="new-items1" role="tabpanel" aria-labelledby="new-items1-tab">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="product">
                                            <div class="row">
                                                <div class="col-lg-3 col-md-4 col-sm-6"
                                                    *ngFor="let product of fruitJuiceProducts">
                                                    <!-- Start Product Item -->
                                                    <div class="product-item">
                                                        <div class="product-thumb">
                                                            <a href="/shop/product/{{product.category}}/{{product.id}}">
                                                                <img src="{{product.photo}}" alt="Image" width="300"
                                                                    height="300">
                                                                <!-- <span class="bg-thumb" data-bg-img="assets/img/shop/5.webp"></span> -->
                                                            </a>
                                                            <div class="ribbons">
                                                                <span
                                                                    class="ribbon ribbon-discount">{{product.category}}</span>
                                                            </div>
                                                        </div>
                                                        <div class="product-info">
                                                            <h4 class="title"><a
                                                                    href="/shop/product/{{product.category}}/{{product.id}}">{{product.name}}</a>
                                                            </h4>
                                                            <div class="prices">
                                                                <span class="price">${{product.prices[0].amount}} /
                                                                    {{product.prices[0].unit}}</span>
                                                                <!-- <span class="price-old">$43.70</span> -->
                                                            </div>
                                                            <div class="content-inner">
                                                                <button class="btn-link" type="button"
                                                                    data-bs-toggle="modal"
                                                                    data-bs-target="#action-CartAddModal"><i
                                                                        class="icon-bag icons"></i> Add to cart
                                                                </button>
                                                                <div class="product-info-action">
                                                                    <button class="action-quick-view" type="button"
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target="#action-QuickViewModal"> <i
                                                                            class="icon-eye icons"></i></button>
                                                                    <button class="action-wishlist" type="button"
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target="#action-WishlistModal"><i
                                                                            class="icon-heart icons"></i></button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- End Product Item -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--== End Product Tab Area Wrapper ==-->

    <!--== Start Divider Area Wrapper ==-->
    <section class="divider-area divider-style2-area bg-img" data-bg-img="assets/img/divider/3.webp">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="divider-content-style1">
                        <h2 class="title">100% Organic.</h2>
                        <h3 class="title">Natural <span>Fresh Juice</span></h3>
                        <p>Made of 100% Valencia oranges to hold a perfect balance of sweet and tart flavor. This juice
                            is made most enjoyable by the absence of the pulb!</p>
                        <a class="btn-theme" href="/shop/products">Discover Now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--== End Divider Area Wrapper ==-->

    <!--== Start Product Tab Area Wrapper ==-->
    <section class="product-area product-style10-area">
        <div class="container">
            <div class="row">
                <div class="col-md-6 m-auto">
                    <div class="section-title text-center">
                        <h4 class="subtitle">Awesome Shop</h4>
                        <h2 class="title">Bestsellers</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="swiper-container-wrap swiper-nav-style product-slider-nav">
                        <div class="swiper-container product-slider-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide" *ngFor="let product of bestSeller">
                                    <!-- Start Product Item -->
                                    <div class="product-item">
                                        <div class="product-thumb">
                                            <img src="{{product.photo}}" alt="Image" width="300" height="300">
                                            <!-- <span class="bg-thumb" data-bg-img="assets/img/shop/26.webp"></span> -->
                                            <div class="ribbons">
                                                <span class="ribbon ribbon-discount">{{product.category}}</span>
                                            </div>
                                        </div>
                                        <div class="product-info">
                                            <h4 class="title"><a
                                                    href="/shop/product/{{product.category}}/{{product.id}}">{{product.name}}</a>
                                            </h4>
                                            <div class="prices">
                                                <span class="price">${{product.prices[0].amount}} /
                                                    {{product.prices[0].unit}}</span>
                                                <!-- <span class="price-old">$67.99</span> -->
                                            </div>
                                            <div class="content-inner">
                                                <button class="btn-link" type="button" data-bs-toggle="modal"
                                                    data-bs-target="#action-CartAddModal"><i class="icon-bag icons"></i>
                                                    Add to cart </button>
                                                <div class="product-info-action">
                                                    <button class="action-quick-view" type="button"
                                                        data-bs-toggle="modal" data-bs-target="#action-QuickViewModal">
                                                        <i class="icon-eye icons"></i></button>
                                                    <button class="action-wishlist" type="button" data-bs-toggle="modal"
                                                        data-bs-target="#action-WishlistModal"><i
                                                            class="icon-heart icons"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Product Item -->
                                </div>
                            </div>
                        </div>
                        <!-- Add Arrows -->
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--== End Product Tab Area Wrapper ==-->

    <!--== Start Category Area Wrapper ==-->
    <section class="category-area product-category6-area">
        <div class="container">
            <div class="row">
                <div class="col-md-6 m-auto">
                    <div class="section-title text-center">
                        <h4 class="subtitle">Awesome Shop</h4>
                        <h2 class="title">Hot Categories</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="swiper-container-wrap swiper-nav-style category-slider-nav">
                        <div class="swiper-container category-slider-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="category-list-item">
                                        <div class="thumb">
                                            <a href="/shop/category/fruits"><img src="assets/img/category/4.webp"
                                                    alt="Image" width="158" height="158"></a>
                                        </div>
                                        <div class="content">
                                            <h4 class="title">Fruits</h4>
                                            <div class="category-product-list">
                                                <a href="/shop/product/{{product.category}}/{{product.id}}"
                                                    *ngFor="let product of fruitProducts">{{product.name}}</a>
                                            </div>
                                            <a class="btn-link" href="/shop/category/fruits">View All</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="category-list-item">
                                        <div class="thumb">
                                            <a href="/shop/category/fruit-juice"><img src="assets/img/category/9.webp"
                                                    alt="Image" width="158" height="158"></a>
                                        </div>
                                        <div class="content">
                                            <h4 class="title">Fruit Juice</h4>
                                            <div class="category-product-list">
                                                <a href="/shop/product/{{product.category}}/{{product.id}}"
                                                    *ngFor="let product of fruitJuiceProducts">{{product.name}}</a>
                                            </div>
                                            <a class="btn-link" href="/shop/category/fruit-juice">View All</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="category-list-item">
                                        <div class="thumb">
                                            <a href="/shop/category/nutrition"><img src="assets/img/category/8.webp"
                                                    alt="Image" width="158" height="158"></a>
                                        </div>
                                        <div class="content">
                                            <h4 class="title">Nutrition</h4>
                                            <div class="category-product-list">
                                                <a href="/shop/product/{{product.category}}/{{product.id}}"
                                                    *ngFor="let product of fruitProducts">{{product.name}}</a>
                                            </div>
                                            <a class="btn-link" href="/shop/category/nutrition">View All</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Add Arrows -->
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--== End Category Area Wrapper ==-->
</main>